/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
sd
* {
    padding: 0;
}
nav {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0 20px 0;
    background-color: white;
  }

nav ul {
    list-style: none;
    display: flex;
    align-content: flex-end;
    align-items: left;
  }
ul li{
    padding: 0 10px;
    font-size: 10px;
}
ul li a{
    color: #1A1A1A;
    text-decoration: none;
}
header {
    widt: 100%;
    background-color: #ffffff;
}
.spotify-logo {
    float: left;
    width: 100px;
}

.big-pic {
    background-image: url('../images/landing.jpg');
    width: 100%;
    height: 30%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 15%;
}
.intro {
    color: white;
    margin-top: 0%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro1 {
    color: white;
    margin-top: 0%;
    padding-top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #00B172;
    font-size: 30px;
    padding: 3px;
}
.article-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

article {
    text-align: center;
    width: 220px;
    margin: 20px 40px; 
}
article img {
    height: 30px;
}

article h3 {
    color: #00B172;
    font-weight: 700px;
    font-size: 12px;
}
article p {
    font-size: 10px;
    font-weight: 300;
}
.white-logo {
    height: 100px;
    display: flex;
    position: relative;
    margin-top: 130px;
}
.spotify-kanye {
    height: 460px;
    display: flex;

}
.last-third {
    background-color: #00B172;
    display: flex;
    justify-content: space-around;
}
.descriptiomn {
    display: flex;
    flex-direction: column;
}
